body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
#connect_container, #our_promises_container, #advertise_container, #eNew_container {
    width: 25%;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

.nav_bar {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid;
}

#pages_link {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: inherit;
}

#pages_link a {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    text-decoration: none;
    color: white;
}