{% extends "registration/login.html" %}
{% block content %}
    <div class="mx-auto p-2" style="width: 200px;">
        <a class=" w-75 p-3 border border-5 rounded-pill link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
        href="/admin" style="text-decoration: none;">Staff</a>
        <a class=" w-75 p-3 border border-5 rounded-pill link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
        href="/login" style="text-decoration: none;">User</a>
    </div>
{% endblock %}