{% extends "./master.html" %}
{% load static %}
{% block title %}
<title>Pet Rescuer - Pets</title>
{% endblock %}

{% block content %}
<div class="mb-4 mx-auto bg-light" style="width: 100%;">
    <form action="{% url 'pets' %}" method="POST">
        <h3>Filter</h3>
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-md">
                <div class="form-floating">
                   <select class="form-select" id="selected_location" name="selected_location">
                        <option value="">Please choose...</option>
                        <option value="state">State</option>
                        <option value="suburb">Suburb</option>
                    </select>
                    <label for="selected_location">Location</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating" id="search_bar">
                    <input type="text" class="form-control" id="selected_location_value" name="selected_location_value" placeholder="">
                    <label for="selected_location_value">From...</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                   <select class="form-select" id="selected_type" name="selected_type">
                        <option value="">Please choose...</option>
                        <option value="species">Species</option>
                        <option value="breed">Breed</option>
                        <option value="gender">Gender</option>
                        <option value="age">Age</option>
                    </select>
                    <label for="selected_type">By...</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating" id="search_bar">
                    <input type="text" class="form-control" id="selected_type_value" name="selected_type_value" placeholder="Name, species, breed,...">
                    <label for="selected_type_value">Search</label>
                </div>
            </div>
            <div class="col-md">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="mx-auto" style="width: 300px;">
    <p>____________________________________</p>
</div>

{% if pets %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for pet in pets %}
      <div class="col">
          <div class="card h-100">
              <img src="/static/{{ pet.image_path }}" class="card-img-top" alt="Image of {{ pet.name }}">
              <div class="card-body">
                  <h5 class="card-title">{{ pet.name }}</h5>
                  <p class="card-text">Breed: {{ pet.breed }}</p>
                  <p class="card-text">Age: {{ pet.age }}</p>
                  <p class="card-text">Gender: {{ pet.gender }}</p>
                  <p class="card-text">Location: {{ pet.state }}</p>
                  <form action="{% url 'pet_detail' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" id="pet_detail" name="pet_id" value="{{ pet.pet_id }}">
                        Details
                    </button>
                  </form>
              </div>
              <div class="card-footer">
                  <small class="text-muted">{{ pet.status }}</small>
              </div>
          </div>
      </div>
    {% endfor %}
    </div>
</div>
{% else %}
<p class="mx-auto" style="width: 200px;">No matching pets from your filter...</p>
{% endif %}
<div class="mx-auto" style="width: 300px;">
    <p>____________________________________</p>
</div>
{% endblock %}
    